<%- include('header') %>
  
<form method="post">
  <div class="grid grid-rows-3 lg:grid-rows-1 lg:grid-cols-3 lg:my-10 items-center justify-center whitespace-nowrap">
    <div class="text-3xl w-full text-left lg:text-right place-self-center font-medium">
      <%= homeTeam.name %>
    </div>
    <div class="items-center place-self-center text-5xl text-center font-bold">
      <img class="max-h-20 inline" src="<%= homeTeam.logo %>">
      <span>
        <input class="bg-slate-950 text-slate-200 mt-0 block w-full px-0.5 border-0 border-b-2 border-slate-700 focus:ring-0 focus:border-white" type="number" min="0" max="99" name="homeScore" value="<%= match.homeScore%>"> : <input class="bg-slate-950 text-slate-200 mt-0 block w-full px-0.5 border-0 border-b-2 border-slate-700 focus:ring-0 focus:border-white" type="number" name="awayScore" min="0" max="99" value="<%= match.awayScore %>">
      </span>
      <img class="max-h-20 inline" src="<%= awayTeam.logo %>">
    </div>
    <div class="text-3xl text-right lg:text-left font-medium">
      <%= awayTeam.name %>
    </div>
  </div>

  <div class="grid md:grid-rows-2 lg:grid-cols-2 gap-5 justify-center">
    <button type="submit">Submit</button>
  </div>
  
  <div class="grid md:grid-rows-2 lg:grid-cols-2 gap-5 justify-center">
    <div class="md:place-self-stretch lg:place-self-end">
      <%- include('editlineup', {lineup: homeLineup, prefix:'home'}); %>
    </div>
    <div class="md:place-self-stretch lg:place-self-start">
      <%- include('editlineup', {lineup: awayLineup, prefix:'away'}); %>
    </div>
  </div>

</form>
  <%- include('footer') %>