<tr class="odd:bg-slate-900 even:bg-slate-800">
  <td class="text-center"><%=posName%></td>
  <td class="px-2 text-left "><%= player.name %></td>
  <td class="text-center"><input name="<%=prefix%>_<%=pos%>_pass" class="<%=bg%> py-0 mt-0 block w-full px-0.5 border-0 border-b-2 border-slate-700 focus:ring-0 focus:border-white focus:bg-slate-600" type="number" min="0" max="999" value="0"></td>
  <td class="text-center"><input name="<%=prefix%>_<%=pos%>_assists" class="<%=bg%> py-0 mt-0 block w-full px-0.5 border-0 border-b-2 border-slate-700 focus:ring-0 focus:border-white focus:bg-slate-600" type="number" min="0" max="99" value="0"></td>
  <td class="text-center"><input name="<%=prefix%>_<%=pos%>_shots" class="<%=bg%> py-0 mt-0 block w-full px-0.5 border-0 border-b-2 border-slate-700 focus:ring-0 focus:border-white focus:bg-slate-600" type="number" min="0" max="99" value="0"></td>
  <td class="text-center"><input name="<%=prefix%>_<%=pos%>_goals" class="<%=bg%> py-0 mt-0 block w-full px-0.5 border-0 border-b-2 border-slate-700 focus:ring-0 focus:border-white focus:bg-slate-600" type="number" min="0" max="99" value="0"></td>
  <td class="text-center"><input name="<%=prefix%>_<%=pos%>_tackles" class="<%=bg%> py-0 mt-0 block w-full px-0.5 border-0 border-b-2 border-slate-700 focus:ring-0 focus:border-white focus:bg-slate-600" type="number" min="0" max="99" value="0"></td>
  <td class="text-center"><input name="<%=prefix%>_<%=pos%>_interceptions" class="<%=bg%> py-0 mt-0 block w-full px-0.5 border-0 border-b-2 border-slate-700 focus:ring-0 focus:border-white focus:bg-slate-600" type="number" min="0" max="99" value="0"></td>
  <td class="text-center"><input name="<%=prefix%>_<%=pos%>_saves" class="<%=bg%> py-0 mt-0 block w-full px-0.5 border-0 border-b-2 border-slate-700 focus:ring-0 focus:border-white focus:bg-slate-600" type="number" min="0" max="99" value="0"></td>
  <td class="text-center"><input name="<%=prefix%>_<%=pos%>_catches" class="<%=bg%> py-0 mt-0 block w-full px-0.5 border-0 border-b-2 border-slate-700 focus:ring-0 focus:border-white focus:bg-slate-600" type="number" min="0" max="99" value="0"></td>
  <td class="text-center"><input name="<%=prefix%>_<%=pos%>_rating" class="rating <%=bg%> py-0 mt-0 block w-full px-0.5 border-0 border-b-2 border-slate-700 focus:ring-0 focus:border-white focus:bg-slate-600" type="number" step="0.5" min="0" max="5" value="0" disabled="true"></td>
</tr>