<tr class="odd:bg-slate-900 even:bg-slate-800">
  <td class="text-center "><%=posName%></td>
  <td class="px-2 text-left "><%= player.name %></td>
  <td class="text-center "><%= player.pass || 0%></td>
  <td class="text-center "><%= player.assists || 0%></td>
  <td class="text-center "><%= player.shots || 0%></td>
  <td class="text-center "><%= player.goals || 0%></td>
  <td class="text-center "><%= player.tackles || 0%></td>
  <td class="text-center "><%= player.interceptions || 0%></td>
  <td class="text-center "><%= player.saves || 0%></td>
  <td class="text-center "><%= player.catches || 0%></td>
  <td class="text-center "><%= player.rating || 0%></td>
</tr>