<div class="align-middle overflow-hidden rounded-lg shadow shadow-black">
  <table class="min-w-full">
    <thead>
      <tr class="border-b text-slate-200 bg-slate-800 border-slate-700">
        <th class="border-r text-center px-3.5  border-slate-700">Pos</th>
        <th class="border-r px-2 text-left  border-slate-700">Name</th>
        <th class="border-r text-center px-3.5  border-slate-700">P</th>
        <th class="border-r text-center px-3.5  border-slate-700">A</th>
        <th class="border-r text-center px-2  border-slate-700">SH</th>
        <th class="border-r text-center px-3.5  border-slate-700">G</th>
        <th class="border-r text-center px-3.5  border-slate-700">T</th>
        <th class="border-r text-center px-3.5  border-slate-700">I</th>
        <th class="border-r text-center px-3.5  border-slate-700">C</th>
        <th class="border-r text-center px-2  border-slate-700">SA</th>
        <th class="text-center px-3.5 ">Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr class=" odd:  odd:bg-slate-900 even:bg-slate-800">
        <td class="text-center ">GK</td>
        <td class="px-2 text-left "><%= lineup.gk.name %></td>
        <td class="text-center ">300</td>
        <td class="text-center ">1</td>
        <td class="text-center ">99</td>
        <td class="text-center ">5</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">3</td>
      </tr>
      <tr class="odd:bg-slate-900 even:bg-slate-800">
        <td class="text-center ">LB</td>
        <td class="px-2 text-left "><%= lineup.lb.name %></td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">2</td>
      </tr>
      <tr class=" odd:bg-slate-900 even:bg-slate-800">
        <td class="text-center ">RB</td>
        <td class="px-2 text-left "><%= lineup.rb.name %></td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">3.5</td>
      </tr>
      <tr class=" odd:bg-slate-900 even:bg-slate-800">
        <td class="text-center ">CM</td>
        <td class="px-2 text-left "><%= lineup.cm.name %></td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">★★★☆☆</td>
      </tr>
      <tr class=" odd:bg-slate-900 even:bg-slate-800">
        <td class="text-center ">LW</td>
        <td class="px-2 text-left "><%= lineup.lw.name %></td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">★★★☆☆</td>
      </tr>
      <tr class=" odd:bg-slate-900 even:bg-slate-800 border-b border-slate-700">
        <td class="text-center ">RW</td>
        <td class="px-2 text-left "><%= lineup.rw.name %></td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">★★★☆☆</td>
      </tr>
      <% if(lineup.sub1.id) { %>
      <tr class=" odd:bg-slate-900 even:bg-slate-800">
        <td class="text-center ">Sub 1</td>
        <td class="px-2 text-left "><%= lineup.sub1.name %></td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">★★★☆☆</td>
      </tr>
      <% } %>
      <% if(lineup.sub2.id) { %>
      <tr class=" odd:bg-slate-900 even:bg-slate-800">
        <td class="text-center ">Sub 2</td>
        <td class="px-2 text-left "><%= lineup.sub2.name %></td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">★★★☆☆</td>
      </tr>
      <% } %>
      <% if(lineup.sub3.id) { %>
      <tr class=" odd:bg-slate-900 even:bg-slate-800">
        <td class="text-center ">Sub 3</td>
        <td class="px-2 text-left "><%= lineup.sub3.name %></td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">★★★☆☆</td>
      </tr>
      <% } %>
      <% if(lineup.sub4.id) { %>
      <tr class=" odd:bg-slate-900 even:bg-slate-800">
        <td class="text-center ">Sub 4</td>
        <td class="px-2 text-left "><%= lineup.sub4.name %></td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">★★★☆☆</td>
      </tr>
      <% } %>
      <% if(lineup.sub5.id) { %>
      <tr class=" odd:bg-slate-900 even:bg-slate-800">
        <td class="text-center ">Sub 5</td>
        <td class="px-2 text-left "><%= lineup.sub5.name %></td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">99</td>
        <td class="text-center ">★★★☆☆</td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>