<tr class="odd:bg-slate-900 even:bg-slate-800">
  <td class="text-center "><%=posName%></td>
  <td class="px-2 text-left "><%= player.name %></td>
  <td class="text-center "><%= player.pass || ''%></td>
  <td class="text-center "><%= player.assists || ''%></td>
  <td class="text-center "><%= player.shots || ''%></td>
  <td class="text-center "><%= player.goals || ''%></td>
  <td class="text-center "><%= player.tackles || ''%></td>
  <td class="text-center "><%= player.interceptions || ''%></td>
  <td class="text-center "><%= player.saves || ''%></td>
  <td class="text-center "><%= player.catches || ''%></td>
  <td class="text-center "><%= player.rating || ''%></td>
</tr>